<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ssk</key>
	<dict>
		<key>label</key>
		<string>Slip Slip Knit</string>
		<key>description</key>
		<string>slip two stitches from the left needle to the right and knit together</string>
	</dict>
	<key>k2tog</key>
	<dict>
		<key>label</key>
		<string>Knit Two Together</string>
		<key>description</key>
		<string>Knit two together on the right needle</string>
	</dict>
	<key>double_decrease</key>
	<dict>
		<key>label</key>
		<string>Center Decrease</string>
		<key>description</key>
		<string>make it look like a triangle</string>
	</dict>
	<key>yo</key>
	<dict>
		<key>label</key>
		<string>Yarnover</string>
		<key>description</key>
		<string>Make a hole</string>
	</dict>
</dict>
</plist>
